.horse-guard {
    aspect-ratio: 16/9;
    background-image: url('../../../images/horse-guard.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: -3.9vw;
    width: calc(100% + 7.8vw);
}

.hidden-headline {
    display: block;
    height: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-indent: -9999px;
    width: 0;
}

@media (min-aspect-ratio: 16/9) {
    .horse-guard {
        height: calc(100% + 13.88vh);
        margin: -6.94vh;
        width: calc(100% + 13.88vh);
    }
}

.credit {
    background-color: #473026;
    display: block;
    font-size: 30%;
    padding: 0 0.5%;
}
